@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap%27);

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
    gap: 17rem;
}

.logo img {
    width: 150px;
}

.nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

.nav-list li {
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: rgb(255, 55, 0);
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

.nav-list li:hover a {
    background: #2842bd;
    color: white;
}

main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
    display: flex;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
}

.content-description {
    flex: 1 1;
}

.content-description .title {
    font-size: 3.5rem;
    margin-block: 1rem;
}

.content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    color: white;
    border: 3px solid #2842bd;
    border-radius: 999px;
    background-color: #2842bd;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.content-description button:hover {
    background-color: transparent;
    color: #2842bd;
    border: 3px solid #2842bd;
}

.content-image {
    flex: 1;
    display: flex;
}

.content-image img {
    margin: auto;
    min-width: 250px;
    width: 400px;
}

aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
}

aside .social-media {
    height: 100%;
    display: flex;
}

.social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    background-color: #2842bd;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.social-media li {
    list-style-type: none;
}

.social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
}

.social-media li a :hover {
    color: #89b0d9;
}

@media screen and (max-width : 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 0;
    }

    .nav-list ul {
        flex-wrap: wrap;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 1.5rem;
    }

    main {
        padding: 0 1rem;
    }

    .title {
        font-size: 3rem;
    }

    .content-description p {
        font-size: 1rem;
        text-align: justify;
    }
}

@media screen and (max-width : 425px) {
    .navbar-container {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        flex-wrap: wrap;
    }
}